body{
	padding-top: 70px;
	background: black;
}

.jumbotron {
	background: black;
	color: hotpink;
font-family: 'Marck Script', cursive;

}
.thumbnail{
	border-color: hotpink;
}

.navbar{
	background-color: hotpink;

}

.navbar-inverse .navbar-nav>li>a {
	color:black;
}

.navbar-inverse .navbar-brand {
	color: black;
}